* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  line-height: 30px;
  font-weight: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 300;
  color: #3d435c;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ftco-section {
  padding: 7em 0;
  margin: 0 1rem;
  position: relative;
}
@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}
.heading-section {
  z-index: 0;
}
.heading-section .subheading {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: #ffb5b5;
  line-height: 1;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.heading-section h2 {
  z-index: -1;
  font-size: 60px;
  font-weight: 400;
  position: relative;
}
@media (max-width: 768px) {
  .heading-section h2 {
    font-size: 28px;
  }
}
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

/* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; } */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.4;
  color: #2c396b;
  font-weight: 400;
  font-family: "EB Garamond", serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}



h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.text-left {
  text-align: left !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
 }
.mr-4,
.mx-4 {
   margin-right: 1.5rem !important; }
.mb-5,
.my-5 {
  margin-bottom: 3rem !important; 
}
.px-md-5 {
  padding-left: 3rem !important;
 }
 .pb-3,
.py-3 {
  padding-bottom: 1rem !important; }
.pl-4,
.px-4 {
    padding-left: 1.5rem !important; }
.pl-md-4,
.px-md-4 {
    padding-left: 1.5rem !important; }
.ml-md-2,
.mx-md-2 {
    margin-left: 0.5rem !important; }

 .justify-content-center {
     justify-content: center !important; }
 .align-items-center {
      align-items: center !important; }
  .justify-content-end {
      justify-content: flex-end !important; }
  .d-md-flex {
    display: flex !important; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:active,
a:focus {
  color: #ffb5b5;
  outline: none !important;
  text-decoration: none !important;
}

.order-md-last {
  order: 13; }

.bg-tertiary {
  background-color: #565435;
}
.bg-light {
  background: #f8f9fa !important;
}

.navbar {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand {
  color: #2c396b;
  /* margin-top: 20px;  */
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #000;
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #fff;
}
.navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #2c396b;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
  position: relative;
  opacity: 1 !important;
}
.navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: transparent;
  color: #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(238, 227, 227, 0.5);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-text a {
  color: #fff;
}
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
  color: lightcyan;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
  color: lightcyan;
  font-weight: bold;
}
.active {
  font-weight: bold;
}

.offer-deal {
  width: 100%;
}

.offer-deal img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 18%;
  /* overflow: hidden; */
}
.offer-deal .text h3 {
  font-size: 30px;
}

.yogaPlace-section {
  padding: 7em 0;
  position: relative;
}
.col-md-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn.btn-white:hover {
  border: 1px solid #ffb5b5;
  background: #ffb5b5;
  color: #fff;
}
.btn.btn-white:hover span {
  color: #fff;
}
.btn.btn-white.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.8);
  background: none;
  border-width: 1px;
  color: #fff;
}
.btn.btn-white.btn-outline-white:hover,
.btn.btn-white.btn-outline-white:focus,
.btn.btn-white.btn-outline-white:active {
  background: #ffb5b5;
  border-color: #ffb5b5;
  color: #fff;
}
.btn.btn-outline-black {
  border-color: black;
  background: none;
  border-width: 1px;
  color: #000;
}
.btn.btn-outline-black:hover,
.btn.btn-outline-black:focus,
.btn.btn-outline-black:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

.btn .btn-outline-primary{
  color:#ffb5b5; 
  border-width: 1px;
  border-color: #dc6a6ae4;
}

.btn .btn-outline-primary:hover{
  background-color:#ffb5b5 ;
  color:  #fff;
}

a.text-light:hover,
a.text-light:focus {
  color: #cbd3da;
}

/* yoga classes ================================================================================*/
.classes {
  margin-bottom: 30px;
}
.classes .img {
  height: 280px;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.classes .text h3 a {
  color: #2c396b;
}
.classes .text h3 a:hover {
  color: #fe86d4;
  text-decoration: none;
}

/* service ===========================================================================================*/
/* .section-title {
  font-size: 60px;
}
@media (max-width: 767px) {
  .section-details h2 {
    font-size: 28px;
  }
} */

.card {
  outline: none;
  border: none;
}

.card-img-top {
  max-width: 50%;
  margin: 10px auto;
}
.btn-card {
  color: #fff;
  background-color: #2c396b;
  border: 1px solid #2c396b;
  border-radius: 3px;
  padding: 6px 6px 12px 12px;
  line-height: 25px;
  letter-spacing: 0.6px;
}
a {
  color: #2c396b;
}

a:hover {
  color: #fe86d4;
}
.card-text {
  line-height: 1.8;
  color: #2c396b;
}

/* trainers section====================================================================================== */
.trainer-section {
  padding: 60px 15px;
  background-color: #f5f5f5;
  text-align: center;
}
.trainer-section .trainer-col {
  margin-bottom: 40px;
}
.trainer-section .trainer-img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  margin: 0 auto 12px;
  overflow: hidden;
  border: unset;
}
.trainer-in-img {
  max-width: 182px;
  border-radius: 50%;
}
/* .trainer-section .trainer-col a:hover{
  text-decoration: none;
} */
.trainer-section .trainer-col a:hover .trainer-title {
  /* text-decoration: none; */
  color: #fe86d4;
}
.trainer-section .trainer-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: #444;
}
.trainer-section .trainer-desc {
  font-family: inherit;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0.45px;
  font-style: italic;
  font-weight: 400;
  color: #666;
}
/* last photo section ==============================================================*/
.ftco-gallery {
  padding: 0; 
}
.gallery {
  display: block;
  height: 300px;
  position: relative;
  margin-bottom: 30px; 
}
.image-popup {
  cursor: zoom-in; 
}

  .gallery .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    z-index: 0;
    opacity: 0;
    position: relative;
    transition: all 0.6s ease;
    background: #ffb5b5;
    border-radius: 50%; 
  }
  .gallery .icon span {
      color: #fff; 
    }
  .gallery:hover .icon, .gallery:focus .icon {
    opacity: 1; 
  }



/* footer section========================================================================== */
.ftco-footer {
  padding: 6em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #2c396b;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}
.ftco-footer .ftco-footer-widget ul li a span {
  color: #000;
}
.ftco-footer .ftco-footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
}
.ftco-footer .ftco-footer-widget .btn-primary:hover {
  background: #fff;
  border: 2px solid #fff !important;
}
.ftco-footer a {
  color: rgba(0, 0, 0, 0.5);
}
.ftco-footer a:hover {
  color: #000;
}
.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 400;
  color: #000;
}
.ftco-footer .categories li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ftco-footer .categories li a span {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: #ffb5b5;
  border-radius: 50%;
  position: relative;
  color: #ffb5b5 !important;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
}
.ftco-footer-social li a:hover {
  color: #fff;
}

.block-23 ul {
  padding: 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 16px;
  padding-top: 2px;
  color: #000;
}

/* trainer.html section =====================================================================*/

.hero-wrap {
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 992px) {
  .hero-wrap {
    background-position: top right !important;
  }
}
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 68%;
  content: "";
  opacity: 0;
}
@media (max-width: 992px) {
  .hero-wrap .overlay {
    width: 100%;
  }
}
.hero-wrap.hero-wrap-2 {
  height: 400px;
}
.hero-wrap.hero-wrap-2 .slider-text {
  height: 400px !important;
}
.hero-wrap .slider-text {
  color: rgba(0, 0, 0, 0.4);
}
.hero-wrap .slider-text .icon {
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
  width: 100%;
}
.hero-wrap .slider-text .icon span {
  font-size: 80px;
  line-height: 1.2;
  color: #ffb5b5;
}
.hero-wrap .slider-text .icon:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  max-width: 500px;
  height: 2px;
  background: #ffb5b5;
  margin: 0 auto;
}
.hero-wrap .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
  letter-spacing: 4px;
}
.hero-wrap .slider-text .breadcrumbs span {
  color: #3d435c;
}
.hero-wrap .slider-text .breadcrumbs span a {
  color: #2c396b;
}
.hero-wrap .slider-text h1 {
  font-size: 40px;
  color: #000;
  font-weight: normal;
  font-family: "EB Garamond", serif;
}
.hero-wrap .slider-text h2 {
  font-weight: 200;
  font-size: 18px;
}
.hero-wrap .slider-text .bread {
  font-size: 40px;
  color: #2c396b;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .hero-wrap .slider-text .bread {
    font-size: 60px;
  }
}
.hero-wrap .slider-text .btn-primary,
.hero-wrap .slider-text .btn-outline-primary {
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .hero-wrap .slider-text .btn-primary,
  .hero-wrap .slider-text .btn-outline-primary {
    width: 100%;
    margin-bottom: 10px;
  }
}
.hero-wrap .slider-text .btn-primary {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/* trainig chach ===========================================================*/
.coach {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.coach .img,
.coach .text {
  width: 100%;
}
.coach .img {
  height: 380px;
  background-size: cover;
  background-position: top center !important;
}
.coach .text .subheading {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.coach .text h3 {
  font-size: 22px;
  color: #000;
}
.coach .text h3 a {
  color: #000;
}
.coach .text .ftco-social-media {
  padding: 0;
}
.coach .text .ftco-social-media li {
  list-style: none;
}
.coach .text .ftco-social-media li a {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffb5b5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.coach .text .ftco-social-media li a span {
  font-size: 24px;
  color: #fff;
}
/* classes section(time table and schedule)====================================================================== */

.contact-section {
  max-width: 940px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.contact-section h2{
  font-size: 40px;
  padding-bottom: 20px;
}
/* .sections-detail {
  margin: 0 0 55px;
} */
/* .section-title {
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 400;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
  padding-bottom: 40px;
} */
/* @media (max-width: 991.98px) {
  .section-title {
    font-size: 60px; } 
  } */
.section-title-desc {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.45px;
  /* color: #666; */
  color: #2c396b;
  text-align: center;
}

.contact-section {
  padding: 60px 15px;
}
.contact-section .appointment {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 30px 28px 25px;
}
.contact-section .appointment .appointment-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;

  font-weight: 600;
  letter-spacing: 0.6px;
  text-align: center;
  color: #2c396b;
  line-height: 1.2;
  font-weight: 400;
}
.contact-section .appointment .appointment-desc {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.56px;
  color: #2c396b;
  text-align: center;
}
.contact-section .appointment .appointment-form {
  margin-top: 40px;
}
.contact-section .appointment .appointment-form .appointment-form-input {
  border: 1px solid #999;
  height: 38px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.48px;
  padding-top: 0;
  padding-bottom: 0;
}
.contact-section .appointment .appointment-form .data-input {
  text-transform: uppercase;
}
.yoga-template
  .contact-section
  .appointment
  .appointment-form
  .appointment-form-text {
  border: 1px solid #999;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.48px;
}
.box-select{
  position: relative;
}
.box-select::before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 41%;
  right: -5%;
  width: 35px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 37px;
  color: rgb(255, 255, 255);
  background-color: #2c396b;
  font-weight: 600;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}
.contact-section .appointment .appointment-form .appointment-form-col-left {
  padding-right: 7px;
}
.contact-section .appointment .appointment-form .appointment-form-col-right {
  padding-left: 7px;
  padding-right: 7px;
}

.contact-section .appointment .appointment-form .appointment-form-btn {
  width: 100%;
  padding: 18px 0 13px;
  background-color: #2c396b;
  border: 1px solid #2c396b;
  border-radius: 3px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 10px;
}
.contact-section .open-time {
  text-align: center;
}

.contact-section .open-time .open-time-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #2c396b;
  margin-bottom: 5px;
}
.contact-section .open-time .open-time-clock {
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.72px;
  font-weight: 600;
  color: #444;
}
.contact-section .open-time .open-time-course {
  font-family: inherit;
  font-size: inherit;
  line-height: 40px;
  letter-spacing: 0.6px;
  color: inherit;
}

@media(max-width : 998px){
  .contact-section .appointment 
	.appointment-form .box-select::before {
	    content: "\f0dd";
	    font-family: "Font Awesome 5 Free";
	    position: absolute;
	    top: 41%;
	    right: -0.5%;
	    width: 35px;
	    height: 38px;
	    text-align: center;
	    font-size: 14px;
	    line-height: 37px;
	    color: rgb(255, 255, 255);
	    background-color:  #2c396b;
	    font-weight: 600;
	    border-radius: 3px;
	    transform: translate(-50%, -50%);
	}
	.contact-section .appointment 
	.appointment-form .appointment-form-col-left {
		padding-right: 15px;
	}
	.contact-section .appointment 
	.appointment-form .appointment-form-col-right {
		padding-left: 15px;
	  padding-right: 15px;
	}
}


@media (max-width: 768px)  { 
	appoinment form
	.contact-section .appointment 
	.appointment-form .box-select select::before {
	    content: "\f0dd";
	    font-family: "Font Awesome 5 Free";
	    position: absolute;
	    top: 41%;
	    right: -0.6%;
	    width: 35px;
	    height: 38px;
	    text-align: center;
	    font-size: 14px;
	    line-height: 37px;
	    color: rgb(255, 255, 255);
	    background-color:  #2c396b;
	    font-weight: 600;
	    border-radius: 3px;
	    transform: translate(-50%, -50%);
	}

}

/* about us / experience of yoga========================================================= */
.services-2 {
  margin-bottom: 30px; }
.services-2 .icon {
    width: 60px;
    height: 60px;
    border: 1px solid #ffb5b5;
    background: #ffb5b5;
    margin: 0;
    border-radius: 50%; }
.services-2 .icon span {
      font-size: 30px;
      color: #fff; 
    }
.services-2 .text {
    width: calc(100% - 60px);
   }

   @media (max-width: 767.98px) {
    .img-services {
      height: 400px;
      margin-bottom: 30px; } }
  
  @media (max-width: 767.98px) {
    .treatment.border {
      border: none !important; } }
  
  .treatment .icon span {
    font-size: 60px;
    line-height: 1;
    color: #ffb5b5; }
  
  .treatment h3 {
    font-size: 20px; }

/* about us.html/testimony section================================================= */
  .testimony-section .box {
      display: flex;
      align-items: center;
      margin: 45px;
      padding: 35px 25px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
      }
      
  .testimony-section .box .img-box {
        border-radius: 100%;
        border: 10px solid #ffb5b5; 
        margin-right: 25px;
        min-width: 175px;
        max-width: 175px;
        overflow: hidden;
      }
      
  .testimony-section .box .img-box img {
        width: 100%;
      }
      
  .testimony-section .box .detail-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
  .testimony-section .box .detail-box .name {
        text-align: center;
      }
      
  .testimony-section .box .detail-box .name img {
        width: 25px;
        margin-bottom: 5px;
      }
      
  .testimony-section .box .detail-box .name h6 {
        color:#2c396b;
        font-size: 20px;
      }
      
  .testimony-section .carousel_btn-container {
        display: flex;
        justify-content: center;
      }
      
  .testimony-section .carousel-control-prev,
  .testimony-section .carousel-control-next {
        position: unset;
        width: 45px;
        height: 45px;
        border: none;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: center;
        background-color:#2c396b;
        background-position: center;
        border-radius: 100%;
        margin: 0 2.5px;
      }
      
  .testimony-section .carousel-control-prev:hover,
  .testimony-section .carousel-control-next:hover {
        background-color:#ffb5b5;
      }
      
  .testimony-section .carousel-control-next {
        left: initial;
      }
/* blog.html\blog entry section ==================================================*/
.blog-entry {
  overflow: hidden; }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px; } }
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px; }
  .block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px; }
      
  .block-21 .text {
    width: calc(100% - 100px); }
  .block-21 .text .heading {
    font-size: 16px; }
  .block-21 .text .heading a {
    color: #000; }
  .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
    color: #ffb5b5; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
  .block-21 .text .meta > div a {
    color: gray; }



  .block-27 ul {
      padding: 0;
      margin: 0; }
  .block-27 ul li {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 400; }
  .block-27 ul li a, .block-27 ul li span {
      color: #ffb5b5;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #e6e6e6; }
  .block-27 ul li.active a, .block-27 ul li.active span {
      background: #ffb5b5;
      color: #fff;
      border: 1px solid transparent; }
      
  .blog-entry .text {
    position: relative;
    width: 100%; }
  .blog-entry .text .heading {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 400; }
  .blog-entry .text .heading a {
    color: #000; }
  .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
    color: #ffb5b5; }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 14px; }
  .blog-entry .meta > div a {
      color: #3d435c;
      font-size: 12px;
      text-transform: uppercase; }
  .blog-entry .meta > div a:hover {
        color: #666666; }
  .blog-entry.blog-entry-2 .block-20 {
    width: 45%; }
    @media (max-width: 767.98px) {
  .blog-entry.blog-entry-2 .block-20 {
        width: 100%; } }
  .blog-entry.blog-entry-2 .text {
    width: calc(100% - 45%); }
    @media (max-width: 767.98px) {
  .blog-entry.blog-entry-2 .text {
        width: 100%; } }
  .blog-entry.blog-entry-2 .text .heading {
      font-size: 30px;
     }
  .sidebar-box {
      margin-bottom: 30px;
      padding: 25px;
      font-size: 15px;
      width: 100%;
      float: left;
      background: #fff; }
.sidebar-box *:last-child {
    margin-bottom: 0; }
.sidebar-box h3.heading-2 {
      font-size: 24px;
      margin-bottom: 30px; }
.categories li, .sidelink li {
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dee2e6;
      list-style: none; }
  .categories li:last-child, .sidelink li:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0; }
  .categories li a, .sidelink li a {
      display: block;
      color: #000; }
  .categories li a span, .sidelink li a span {
      position: absolute;
      right: 0;
      top: 0;
       color: #ccc; }
  .categories li.active a, .sidelink li.active a {
      color: #000;
      font-style: italic; }
  .search-form {
      background: #f2f2f2;
      padding: 10px; }
  .search-form .form-group {
      position: relative;
      background: #fff; }
  .search-form .form-group input {
      padding-right: 50px;
      padding-left: 15px; }
  .search-form .icon {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
  .tagcloud a {
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 7px;
        margin-right: 4px;
        border-radius: 4px;
        color: #000;
        border: 1px solid #e6e6e6;
        font-size: 11px; }
  .tagcloud a:hover {
          border: 1px solid #000; }
            

